<!doctype html>
<html>
<head>
  <title>Nuxeo JavaScript Client Examples</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <img alt="nuxeo" src="https://www.nuxeo.com/assets/imgs/logo340x60.png" />
    <span>|</span>
    <h1>JavaScript Client Examples</h1>
  </header>

  <div class="container">
    <div class="content">
      <div class="title">
        <h2>
          <span>examples</span>
        </h2>
        <code><a href="https://github.com/nuxeo/nuxeo-js-client/tree/master/examples/">View Source</a></code>
      </div>

      <div>
        <ul>
          <li><a href="oauth2">OAuth2 example</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>